/* For desktop: */
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Shadows+Into+Light+Two");
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}

.wrapper .parallax-container {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.wrapper .parallax-container .parallax {
    flex: 1 1 auto;
    background-image: url("https://i.pinimg.com/originals/e0/57/44/e05744161d7500a183d5ec3a38a6e626.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    color: #dcdcdc;
    text-align: center;
}
.wrapper .parallax-container .parallax h1 {
    font-size: 6rem;
    line-height: 6.75rem;
    font-family: "Permanent Marker", cursive;
    letter-spacing: 3px;
    margin: 0;
}
.wrapper .parallax-container .parallax .line {
    border-style: solid;
    border-width: 0.05rem;
    margin: 0.5rem 0;
}
.wrapper .parallax-container .parallax h2 {
    font-size: 2rem;
    line-height: 2.75rem;
    font-family: "Permanent Marker", cursive;
    letter-spacing: 3px;
    margin: 0;
}
.wrapper .parallax-container .parallax span {
    font-family: "sans-serif", cursive;
    font-weight: bold;
    letter-spacing: 1px;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
    @media only screen and (max-width: 600px) {
        .wrapper .parallax-container .parallax h1 {
            font-size: 3.5rem;
            letter-spacing: 0.1rem;
            line-height: 4rem;
        }

        .wrapper .parallax-container .parallax h2 {
            font-size: 1.5rem;
            letter-spacing: 0.1rem;
            line-height: 2rem;
        }

        .wrapper .parallax-container .parallax span {
            font-size: 1rem;
            letter-spacing: 0.1rem;
            line-height: 1rem;
            font-weight: normal;
        }
    }
}
